<a href="https://colab.research.google.com/github/chloebs4590/Metis-Engineering/blob/main/car_emissions_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
reset -fs

In [2]:
import pandas as pd
import os
import pickle

In [3]:
# mount Google Drive
from google.colab import drive # import drive from google colab
from os.path import join
ROOT = "/content/drive"     # default location for the drive
print(ROOT)                 # print content of ROOT (Optional)

drive.mount(ROOT)           # we mount the google drive at /content/drive

/content/drive
Mounted at /content/drive

In [4]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [5]:
os.getcwd()

'/content'

In [6]:
os.chdir('/content/drive/MyDrive/Data Science Metis/Engineering')

Read in and prepare stations locations data for merging

In [7]:
# read in stations_locations_geocoded

with open('stations_locations_geocoded.pkl','rb') as fid:
  stations_locations = pickle.load(fid)

In [8]:
stations_locations.head()

,x,y,objectid_1,objectid,station_descripton,bus_or_train,zip_code,state,city,address_2,address_1,name,code,station_name,state_rev,full_address,longitude,latitude
0,-8478455.55,4794767.297,4,4,Station Building (with waiting room),TRAIN,21001,MD,Aberdeen,,18 East Bel Air Avenue,,ABE,"Aberdeen, MD",Maryland,"18 East Bel Air Avenue, Aberdeen, Maryland 21001",-76.163203,39.508412
1,-8208827.1,5257492.746,14,16,Station Building (with waiting room),TRAIN,12144,NY,Rensselaer,,525 East Street,,ALB,"Albany-Rensselaer, NY",New York,"525 East Street, Rensselaer, New York 12144",-73.741149,42.641353
2,-13703739.72,5563532.849,23,25,Station Building (with waiting room),TRAIN,97321,OR,Albany,,110 10th Avenue SW,,ALY,"Albany, OR",Oregon,"110 10th Avenue SW, Albany, Oregon 97321",-123.102954,44.630104
3,-9434974.605,5198081.645,17,19,Station Building (with waiting room),TRAIN,49224,MI,Albion,,300 North Eaton Street,,ALI,"Albion, MI",Michigan,"300 North Eaton Street, Albion, Michigan 49224",-84.755671,42.247258
4,-11871999.39,4175039.273,5,6,Station Building (with waiting room),TRAIN,87102,NM,Albuquerque,,320 1st Street SW,,ABQ,"Albuquerque, NM",New Mexico,"320 1st Street SW, Albuquerque, New Mexico 87102",-106.64769,35.081966

In [9]:
# create combined city_state column

stations_locations['city_state'] = stations_locations['city'] + ',' + " " + stations_locations['state_rev']

In [10]:
stations_locations.columns

Index(['x', 'y', 'objectid_1', 'objectid', 'station_descripton',
       'bus_or_train', 'zip_code', 'state', 'city', 'address_2', 'address_1',
       'name', 'code', 'station_name', 'state_rev', 'full_address',
       'longitude', 'latitude', 'city_state'],
      dtype='object')

In [11]:
# keep only columns needed for merge

stations_locations = stations_locations[['code','city_state','latitude','longitude']]

In [12]:
stations_locations.shape

(540, 4)

Read in train stations combos data for cars

In [13]:
with open('train_stations_combos_df_cars_gmaps.pkl','rb') as fid:
  stations_combos_df = pickle.load(fid)

In [14]:
stations_combos_df.head()

,station_1_code,station_1_name,station_1_coords,station_2_code,station_2_name,station_2_coords,distance_mi,route
0,BOS,"Boston, MA","(42.348695, -71.059861)",RTE,"Route 128, MA","(42.2111905, -71.148665)",17.250466,Acela
1,BOS,"Boston, MA","(42.348695, -71.059861)",PVD,"Providence, RI","(41.8305099, -71.4131785)",48.474208,Acela
2,BOS,"Boston, MA","(42.348695, -71.059861)",NHV,"New Haven, CT","(41.2973604, -72.9267668)",137.650093,Acela
3,BOS,"Boston, MA","(42.348695, -71.059861)",STM,"Stamford, CT","(41.0468938, -73.5429146)",173.993163,Acela
4,BOS,"Boston, MA","(42.348695, -71.059861)",NYP,"New York, NY","(40.7509973, -73.9962784)",212.117464,Acela

Read in routes locations data and clean it up

In [15]:
with open('routes_locations_df.pkl','rb') as fid:
  routes_locations_df = pickle.load(fid)

In [16]:
# convert lists of locations to strings

list_to_string = lambda x: "; ".join(x)

routes_locations_df['locations_per_route_str'] = routes_locations_df['locations_per_route'].map(list_to_string)

In [17]:
# create new column that combines route and its locations

routes_locations_df['route_locations'] = routes_locations_df['route'] + ': ' + routes_locations_df['locations_per_route_str']

In [18]:
# drop columns locations_per_route and	locations_per_route_str
routes_locations_df = routes_locations_df.drop(columns=['locations_per_route','locations_per_route_str'],axis=1)

In [19]:
routes_locations_df.shape

(42, 3)

Read in pickled car emissions data

In [20]:
with open('climatiq_car_responses_dict_gmaps_3923.pkl','rb') as fid:
  car_responses_dict_1 = pickle.load(fid)

In [21]:
with open('climatiq_car_responses_dict_gmaps_7000.pkl','rb') as fid:
  car_responses_dict_2 = pickle.load(fid)

In [22]:
with open('climatiq_car_responses_dict_gmaps_10030.pkl','rb') as fid:
  car_responses_dict_3 = pickle.load(fid)

Convert train emissions data to dataframe and concatenate it with stations combos dataframe (along the columns axis)

In [23]:
car_responses_dict_vals = car_responses_dict_1.values()
climatiq_df_1 = pd.json_normalize(car_responses_dict_vals)
car_responses_dict_vals_2 = car_responses_dict_2.values()
climatiq_df_2 = pd.json_normalize(car_responses_dict_vals_2)
car_responses_dict_vals_3 = car_responses_dict_3.values()
climatiq_df_3 = pd.json_normalize(car_responses_dict_vals_3)
climatiq_df = climatiq_df_1.append(climatiq_df_2, ignore_index=True)
climatiq_df = climatiq_df.append(climatiq_df_3, ignore_index=True)
stations_combos_c02 = pd.concat([stations_combos_df, climatiq_df], axis=1)
stations_combos_c02.shape

(10030, 16)

Merge stations locations df with routes locations df

In [24]:
stations_combos_c02 = stations_combos_c02.merge(routes_locations_df, how='left', on='route')

In [25]:
stations_combos_c02.head(2)

,station_1_code,station_1_name,station_1_coords,station_2_code,station_2_name,station_2_coords,distance_mi,route,co2e,co2e_unit,id,source,year,region,category,lca_activity,coordinates_rev,route_locations
0,BOS,"Boston, MA","(42.348695, -71.059861)",RTE,"Route 128, MA","(42.2111905, -71.148665)",17.250466,Acela,5.330291,kg,passenger_vehicle-vehicle_type_car-fuel_source...,ADEME,2021,FR,Vehicle,unspecified,"[[-71.059861, 42.348695], [-71.148665, 42.2111...","Acela: Boston, MA; Route 128, MA; Providence, ..."
1,BOS,"Boston, MA","(42.348695, -71.059861)",PVD,"Providence, RI","(41.8305099, -71.4131785)",48.474208,Acela,14.978242,kg,passenger_vehicle-vehicle_type_car-fuel_source...,ADEME,2021,FR,Vehicle,unspecified,"[[-71.059861, 42.348695], [-71.148665, 42.2111...","Acela: Boston, MA; Route 128, MA; Providence, ..."

Merge stations locations df with stations combos co2 df to pull in location data for origin station

In [26]:
stations_combos_c02_locs = stations_combos_c02.merge(stations_locations, how='left', left_on='station_1_code', right_on='code')

In [27]:
stations_combos_c02_locs.head(2)

,station_1_code,station_1_name,station_1_coords,station_2_code,station_2_name,station_2_coords,distance_mi,route,co2e,co2e_unit,...,year,region,category,lca_activity,coordinates_rev,route_locations,code,city_state,latitude,longitude
0,BOS,"Boston, MA","(42.348695, -71.059861)",RTE,"Route 128, MA","(42.2111905, -71.148665)",17.250466,Acela,5.330291,kg,...,2021,FR,Vehicle,unspecified,"[[-71.059861, 42.348695], [-71.148665, 42.2111...","Acela: Boston, MA; Route 128, MA; Providence, ...",BOS,"Boston, Massachusetts",42.348695,-71.059861
1,BOS,"Boston, MA","(42.348695, -71.059861)",PVD,"Providence, RI","(41.8305099, -71.4131785)",48.474208,Acela,14.978242,kg,...,2021,FR,Vehicle,unspecified,"[[-71.059861, 42.348695], [-71.148665, 42.2111...","Acela: Boston, MA; Route 128, MA; Providence, ...",BOS,"Boston, Massachusetts",42.348695,-71.059861

In [28]:
# rename city_state column so it's clear it's the city_state of the origin station

stations_combos_c02_locs.rename(columns={'city_state':'origin_location'},inplace=True)

In [29]:
# drop columns not needed
stations_combos_c02_locs = stations_combos_c02_locs.drop(columns=['co2e_unit','id','source','year','region','category','lca_activity','coordinates_rev',\
                                                                  'code','latitude','longitude'])

Merge stations locations df with stations combos co2 df to pull in location data for destination station

In [30]:
stations_combos_c02_locs = stations_combos_c02_locs.merge(stations_locations, how='left', left_on='station_2_code', right_on='code')

In [31]:
stations_combos_c02_locs.head(2)

,station_1_code,station_1_name,station_1_coords,station_2_code,station_2_name,station_2_coords,distance_mi,route,co2e,route_locations,origin_location,code,city_state,latitude,longitude
0,BOS,"Boston, MA","(42.348695, -71.059861)",RTE,"Route 128, MA","(42.2111905, -71.148665)",17.250466,Acela,5.330291,"Acela: Boston, MA; Route 128, MA; Providence, ...","Boston, Massachusetts",RTE,"Westwood, Massachusetts",42.211191,-71.148665
1,BOS,"Boston, MA","(42.348695, -71.059861)",PVD,"Providence, RI","(41.8305099, -71.4131785)",48.474208,Acela,14.978242,"Acela: Boston, MA; Route 128, MA; Providence, ...","Boston, Massachusetts",PVD,"Providence, Rhode Island",41.83051,-71.413179

In [32]:
# rename, drop and add columns

stations_combos_c02_locs.columns = ['origin_code','origin_name','origin_coords','dest_code','dest_name','dest_coords','distance_mi','route',
                                    'co2e_kg','route_locations','origin_location','code','dest_location', 'latitude','longitude']
stations_combos_c02_locs = stations_combos_c02_locs.drop(columns=['code','latitude','longitude'],axis=1)                       
stations_combos_c02_locs['co2e_kg_round'] = stations_combos_c02_locs['co2e_kg'].map(lambda x: int(x))
stations_combos_c02_locs['co2e_lb'] = stations_combos_c02_locs['co2e_kg'].map(lambda x: int(x*2.2))

In [33]:
# reorder columns

stations_combos_c02_locs = stations_combos_c02_locs[['origin_code','origin_name','origin_coords','origin_location','dest_code','dest_name',
                                         'dest_coords','dest_location','route','route_locations','distance_mi','co2e_kg','co2e_kg_round','co2e_lb']]

In [34]:
stations_combos_c02_locs.head(2)

,origin_code,origin_name,origin_coords,origin_location,dest_code,dest_name,dest_coords,dest_location,route,route_locations,distance_mi,co2e_kg,co2e_kg_round,co2e_lb
0,BOS,"Boston, MA","(42.348695, -71.059861)","Boston, Massachusetts",RTE,"Route 128, MA","(42.2111905, -71.148665)","Westwood, Massachusetts",Acela,"Acela: Boston, MA; Route 128, MA; Providence, ...",17.250466,5.330291,5,11
1,BOS,"Boston, MA","(42.348695, -71.059861)","Boston, Massachusetts",PVD,"Providence, RI","(41.8305099, -71.4131785)","Providence, Rhode Island",Acela,"Acela: Boston, MA; Route 128, MA; Providence, ...",48.474208,14.978242,14,32

Since in the app, a user will select an origin and destination by city and not specific station, I'll remove instances where origin and destination location are in the same city

In [35]:
print(len(stations_combos_c02_locs.loc[stations_combos_c02_locs.origin_location == stations_combos_c02_locs.dest_location]))

stations_combos_c02_locs = stations_combos_c02_locs.loc[~(stations_combos_c02_locs.origin_location == stations_combos_c02_locs.dest_location)]

8

In [36]:
stations_combos_c02_locs.shape

(10022, 14)

In [37]:
stations_combos_c02_locs.head(2)

,origin_code,origin_name,origin_coords,origin_location,dest_code,dest_name,dest_coords,dest_location,route,route_locations,distance_mi,co2e_kg,co2e_kg_round,co2e_lb
0,BOS,"Boston, MA","(42.348695, -71.059861)","Boston, Massachusetts",RTE,"Route 128, MA","(42.2111905, -71.148665)","Westwood, Massachusetts",Acela,"Acela: Boston, MA; Route 128, MA; Providence, ...",17.250466,5.330291,5,11
1,BOS,"Boston, MA","(42.348695, -71.059861)","Boston, Massachusetts",PVD,"Providence, RI","(41.8305099, -71.4131785)","Providence, Rhode Island",Acela,"Acela: Boston, MA; Route 128, MA; Providence, ...",48.474208,14.978242,14,32

MongoDB database set up and data storage

In [38]:
# convert stations_combos_c02_locs to a dictionary to go into the Mongodb DB

cars_emissions_dict = stations_combos_c02_locs.to_dict('records')

In [39]:
import pymongo
from pymongo import MongoClient
from getpass import getpass

In [40]:
uri = 'mongodb://udunkhpo2nmne8de5ygi:37Ke4KMMHIcBlSPVlmYL@bitnqlsaoiuc1yk-mongodb.services.clever-cloud.com:27017/bitnqlsaoiuc1yk'
client = MongoClient( uri )

In [41]:
# MongoDB connection info
hostname = 'bitnqlsaoiuc1yk-mongodb.services.clever-cloud.com'
port = 27017
username = 'udunkhpo2nmne8de5ygi'
password = getpass('Enter the secret value: ')
databaseName = 'bitnqlsaoiuc1yk'

# authenticate the database
client = MongoClient(hostname, username=username, password=password, authSource = databaseName, 
                    authMechanism = 'SCRAM-SHA-256')
db = client[databaseName]

Enter the secret value: ··········

In [ ]:
# # create a collection in the database in which to store the data

# db.create_collection('cars_emission_gmaps')

Collection(Database(MongoClient(host=['bitnqlsaoiuc1yk-mongodb.services.clever-cloud.com:27017'], document_class=dict, tz_aware=False, connect=True, authsource='bitnqlsaoiuc1yk', authmechanism='SCRAM-SHA-256'), 'bitnqlsaoiuc1yk'), 'cars_emission')

In [42]:
# insert the cars emissions data into the MongoDB database

db.cars_emission_gmaps_rev.insert_many(cars_emissions_dict)